.label {
    -fx-text-fill: #e3e3e3;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 2, 5);
    -fx-font-size: 28;
    -fx-alignment: TOP_CENTER;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.label-replay {
    -fx-font-size: 18;
}

.text-area {
    text-area-background: #343434;
    -fx-text-fill: #ffffff;
    -fx-opacity: 0.9;
    -fx-padding: 0;
    -fx-font-size: 28;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}

.text-area .content {
    -fx-background-color: text-area-background;
}

.text-area *.text {
    -fx-text-alignment: center;
    -fx-opacity: 1;

}

.submit-button {
    -fx-background-color: #213c57;
}


.pass-button {
    -fx-background-color: #572121;
}

.pass-button:hover {
    -fx-background-color: #eda8a8;
}

.macron-button {
    -fx-background-color: #404040;

    -fx-cursor: hand;
    -fx-border-radius: 4px;

    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #FAFAFA;
}

.macron-button:hover {
    -fx-background-color: #c4dff2;
    -fx-text-fill: #131313;
}

.macron-button:pressed {
    -fx-background-color: #9c9c9c;
}
