.button {
    -fx-background-color: #404040;

    -fx-cursor: hand;
    -fx-border-radius: 4px;

    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #FAFAFA;

    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #c4dff2;
    -fx-text-fill: #131313;
}

.button:pressed {
    -fx-background-color: #9c9c9c;
}

.button:disabled {
    -fx-background-color: #262626;
    -fx-text-fill: #757575;
}

.transparent {
    -fx-opacity: 0.8;
}


.rightButton:disabled {
    -fx-border-radius: 4px;

    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-color: #1b3319;
    -fx-text-fill: #c0d4be;

    -fx-alignment: center;
}

.wrongButton:disabled {
    -fx-border-radius: 4px;

    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-color: #330e0e;
    -fx-text-fill: #d4bebe;

    -fx-alignment: center;
}


.vbox {
    -fx-background-image: url(../images/overlays/other.png);
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-pref-width: 1280;
    -fx-pref-height: 720;
    
}
