.button {
    -fx-background-color: #404040;

    -fx-cursor: hand;
    -fx-border-radius: 4px;

    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #FAFAFA;
    
}

.button:hover {
    -fx-background-color: #c4dff2;
    -fx-text-fill: #131313;
}

.button:pressed {
    -fx-background-color: #9c9c9c;
}

.button:disabled{
    -fx-background-color: #262626;
    -fx-text-fill: #757575;
}

.transparent{
    -fx-opacity: 0.8;
}

